header {
  height: 70px;
  width: 100%;
  border-bottom: 1px #cccccc solid;
}

.logo {
  background: url(https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/logo.png);
  background-repeat: no-repeat;
  height: 100%;
  width: 200px;
  margin-left: 20px;
}

